@import url("./components/navbar.css");

.home-container {
    padding-bottom: 80px;
}

.hero-container {
    font-size: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container p {
    max-width: 500px;

    font-weight: 500;
}

.filtro {
    margin-bottom: 54px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campo {
    padding: 0 21px;

    height: 58px;
}

.botao-filtrar {
    width: 220px;
    height: 58px;

    font-size: 28px;

    color: var(--white);

    background: var(--degrade);

    border: 0;

    border-radius: 15px;

    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

.botao-filtrar:hover {
    opacity: 0.8;
}

.lista-pacotes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 41px;
}

.pacote {
    width: 297px;
    height: 321px;

    background: var(--white);

    border-radius: 15px;
    
    box-shadow: var(--shadow);

    overflow: hidden;
}

.pacote .pacote-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 221px;
}

.pacote .pacote-content {
    width: 100%;
    height: 100px;

    padding: 0 17px 17px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pacote .pacote-content .pacote-dados strong {
    margin-bottom: 4px;

    font-size: 21px;
    font-weight: 500;

    display: block;
}

.pacote .pacote-content .pacote-dados p {
    font-size: 16px;
}

.pacote .pacote-content .pacote-compra {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pacote .pacote-content .pacote-compra span{
    margin-bottom: 10px;

    font-size: 21px;
    font-weight: 700;
}

.pacote .pacote-content .pacote-compra a{
    width: 122px;
    height: 38px;

    font-size: 21px;

    color: var(--white);

    background: var(--degrade);

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

.pacote .pacote-content .pacote-compra a:hover{
    opacity: 0.8;
}