.navbar-container .right-side .botao-perfil{
    color: var(--primary);
    font-size: 28px !important;
    margin-right: 60px;
}

.navbar-container .right-side .botao-perfil:hover {
    text-decoration: underline !important;
}

.texto-inicio{
    margin: 54px 0;
}
.texto-inicio p{
    font-size: 24px;
}

.pacote .pacote-content .pacote-ver {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pacote .pacote-content .pacote-ver a{
    width: 122px;
    height: 38px;

    font-size: 21px;

    color: var(--primary);

    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}

.pacote .pacote-content .pacote-ver a:hover{
    text-decoration: underline !important;
}