<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>CadastroCliente</servlet-name>
    <servlet-class>br.ufscar.dc.dsw.controller.CadastroClienteController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastroAgencia</servlet-name>
    <servlet-class>br.ufscar.dc.dsw.controller.CadastroAgenciaController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastroPacote</servlet-name>
    <servlet-class>br.ufscar.dc.dsw.controller.CadastroPacoteController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.ufscar.dc.dsw.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>br.ufscar.dc.dsw.controller.LogoutController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CadastroCliente</servlet-name>
    <url-pattern>/cadastroCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastroAgencia</servlet-name>
    <url-pattern>/cadastroAgencia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastroPacote</servlet-name>
    <url-pattern>/cadastroPacote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>
